.top-bar {
  background-color: #d8232a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.top-bar .left span {
  margin-right: 20px;
}
.top-bar .left .city {
  margin-right: 20px;
  background-color: #d8232a;
  border: none;
  color: aliceblue;
}
.top-bar .left .city option{
color: rgb(0, 0, 0);
background-color: aliceblue;
}

.top-bar .right select {
  margin-right: 20px;
 background-color: #d8232a;
  border: none;
  color: aliceblue;
}

.post-btn {
  background-color: white;
  color: #d8232a;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
}

.post-btn small {
  color: rgb(255, 166, 0);
  margin-left: 4px;
}
.menu-bar {
  background-color: white;
  border-bottom: 1px solid #eee;
  padding: 12px 30px;
  
}

.menu-bar ul {
  list-style: none;
  display: flex;
  gap: 150px;
}

.menu-bar li {
  cursor: pointer;
  font-weight: 500;
  
}

.new {
  background-color: orange;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
  margin-left: 4px;
}